<section id="product-section" class="product-store position-relative padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="assets/images/product-item1.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Product Name 1</h5>
                        <p class="card-text">$99.99</p>
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#productModal1">
                            <span class="bi bi-info-circle me-2"></span> More Info
                        </button>
                        <!-- Botón "Add to Cart" -->
                        <button type="button" class="btn btn-primary">
                            <span class="bi bi-cart-fill me-2"></span> Add to Cart
                        </button>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="assets/images/product-item1.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Product Name 1</h5>
                        <p class="card-text">$99.99</p>
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#productModal1">
                            <span class="bi bi-info-circle me-2"></span> More Info
                        </button>
                        <!-- Botón "Add to Cart" -->
                        <button type="button" class="btn btn-primary">
                            <span class="bi bi-cart-fill me-2"></span> Add to Cart
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="assets/images/product-item1.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Product Name 1</h5>
                        <p class="card-text">$99.99</p>
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#productModal1">
                            <span class="bi bi-info-circle me-2"></span> More Info
                        </button>
                        <!-- Botón "Add to Cart" -->
                        <button type="button" class="btn btn-primary">
                            <span class="bi bi-cart-fill me-2"></span> Add to Cart
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="assets/images/product-item1.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Product Name 1</h5>
                        <p class="card-text">$99.99</p>
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#productModal1">
                            <span class="bi bi-info-circle me-2"></span> More Info
                        </button>
                        <!-- Botón "Add to Cart" -->
                        <button type="button" class="btn btn-primary">
                            <span class="bi bi-cart-fill me-2"></span> Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="assets/images/product-item1.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Product Name 1</h5>
                        <p class="card-text">$99.99</p>
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#productModal1">
                            <span class="bi bi-info-circle me-2"></span> More Info
                        </button>
                        <!-- Botón "Add to Cart" -->
                        <button type="button" class="btn btn-primary">
                            <span class="bi bi-cart-fill me-2"></span> Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="assets/images/product-item1.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Product Name 1</h5>
                        <p class="card-text">$99.99</p>
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#productModal1">
                            <span class="bi bi-info-circle me-2"></span> More Info
                        </button>
                        <!-- Botón "Add to Cart" -->
                        <button type="button" class="btn btn-primary">
                            <span class="bi bi-cart-fill me-2"></span> Add to Cart
                        </button>
                    </div>
                </div>
            </div>







            <!-- Modal -->
            <div class="modal fade" id="productModal1" tabindex="-1" aria-labelledby="productModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="productModalLabel1">Product Name 1</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Contenido del modal -->
                            <!-- <img src="assets/images/product-item1.jpg" class="img-fluid mb-3" alt="Product 1"> -->
                            <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra risus vel risus pharetra faucibus. Vestibulum vitae ultricies libero.</p>
                            <p>Price: $99.99</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
