<section id="networks-section" class="product-store position-relative padding-large d-flex flex-wrap justify-content-center">
   
  <div class="container">
    <div class="custom_heading-container">
      <h2>
        Redes Sociales
      </h2>
      <hr>
    </div>
    <p>
      visita nuestras redes oficiales
    </p>
  </div>

  
  <div class="row m-2">
      <div class="col-lg-6 col-md-6">
        <div class="social-box facebook mb-3">
          <i class="bi bi-facebook"></i>
          <ul>
            <li>
              <span class="count">40</span> k
              <span>friends</span>
            </li>
            <li>
              <span class="count">450</span>
              <span>feeds</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="social-box twitter mb-3">
          <i class="bi bi-twitter"></i>
          <ul>
            <li>
              <span class="count">30</span> k
              <span>friends</span>
            </li>
            <li>
              <span class="count">450</span>
              <span>tweets</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="social-box linkedin mb-3">
          <i class="bi bi-instagram"></i>
          <ul>
            <li>
              <span class="count">40</span> k
              <span>contacts</span>
            </li>
            <li>
              <span class="count">250</span>
              <span>feeds</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="social-box google-plus mb-3">
          <i class="bi bi-google"></i>
          <ul>
            <li>
              <span class="count">94</span> k
              <span>followers</span>
            </li>
            <li>
              <span class="count">92</span>
              <span>circles</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    


    
   
      
  </section>